 <style>
 

	 body {
		 background-color: #edba1f; 
	 }
	 
	 .container {
		 width: 700px;
		 background-color: #ffc45e; 
		 border: 10px solid black;
		 border-radius: 20px;
		 margin-left: auto;
		 margin-right: auto;
		 height: 700px;
	 }
	 
	 .content {
		 width:660px;
		 padding:20px;
	 }
	 
	 p {
		 line-height: 1.5em;
		 font-size: 14pt;
	 }
	 
	 img {
		 float: left;
		 margin-right: 20px;
		 margin-bottom: 5px;
	 }
	 
	 ul {
		 list-style-type: none;
		 margin: 0;
		 padding: 0;
		 overflow: hidden;
	 }
	 
	 li { 
	     float: left;
	 }
	 
	 li a{
		 display: block;
		 color: #f5ed00;
		 text-align: center;
		 padding: 14px  16px;
		 text-decoration: none;
	 }
	 
	 li a:hover {
		 background-color: #e83f25;
	 }
	 
	 .active {
		 background-color: #e36236;
	 }
	 
	 
	 
	 
	 
	 
		 
 